<% error = false %>
<% tests = [] %>
<% streams = local_assigns[:streams] %>
<% streams.each do |args| %>


  <% if args.is_a?(Array) %>

    <% test = { type: 'stream-command', array: args, action: args.first } %>
    <%= turbo_stream.send args.first, *(args[1..-1]) %>


  <% else %>

    <% locals = args[:locals]&.symbolize_keys %>

    <% if args[:partial].present? %>
      <% rendered_html = render(partial: args[:partial], locals: locals, formats: [:html]) %>
      <% test = { partial: args[:partial], type: 'stream-partial' } %>
    <% else %>
      <% rendered_html = render(template: args[:template], locals: locals, formats: [:html]) %>
      <% test = { template: args[:template], type: 'stream-template' } %>
    <% end %>



    <% unless args[:target].present? %>
      <% args[:target] = RenderTurboStream::Libs.fetch_arguments_from_rendered_string(rendered_html)[:target] %>
      <% if args[:target].present? %>
        <% Rails.logger.debug("  • Target #{args[:target]} found in #{args[:partial]}") %>
      <% elsif rendered_html.present? %>
        <% raise "No target specified by arguments and no target found inside the rendered #{args[:partial].present? ? "partial: #{args[:partial]}" : "template: #{args[:template]}"}: «#{rendered_html}»" %>
      <% end %>
    <% end %>
    <% test = test.merge(action: args[:action], html_response: rendered_html, target: args[:target] ) %>


    <% target_id = RenderTurboStream::Libs.target_to_target_id(args[:target]) %>

    <%# info = { target_id: args[:target_id], partial: args[:partial], locals: args[:locals] } %>


    <% if args[:action].present? %>
      <%= turbo_stream.send args[:action].to_sym, target_id do %>

        <%= rendered_html %>

      <% end %>

    <% else %>
      <% Rails.logger.error("  ERROR RENDER TURBO STREAM => MISSING ACTION => #{args}") %>
      <% error = true %>
    <% end %>
  <% end %>

  <% tests.push(test) %>

<% end %>

<% if error %>
  <% Rails.logger.error("  RENDER TURBO STREAM HAD ERRORS, REPEATING WHOLE ARRAY: ") %>
  <% tests.each do |t| %>
    <% Rails.logger.error("    #{t}") %>
  <% end %>
<% end %>
<% if Rails.env.test? %>
  <% RenderTurboStream::Test::Request::Libs.set_test_responses(response, tests) %>
<% end %>
